<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.VinMapper">
  <resultMap id="BaseResultMap" type="com.domain.Vin">
    <!--@mbg.generated-->
    <!--@Table vin-->
    <result column="vinCode" jdbcType="VARCHAR" property="vincode" />
    <result column="catalogCode" jdbcType="VARCHAR" property="catalogcode" />
    <result column="modelCode" jdbcType="VARCHAR" property="modelcode" />
    <result column="plantCode" jdbcType="VARCHAR" property="plantcode" />
    <result column="buildDate" jdbcType="VARCHAR" property="builddate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    vinCode, catalogCode, modelCode, plantCode, buildDate
  </sql>
  <insert id="insert" parameterType="com.domain.Vin">
    <!--@mbg.generated-->
    insert into vin (vinCode, catalogCode, modelCode, 
      plantCode, buildDate)
    values (#{vincode,jdbcType=VARCHAR}, #{catalogcode,jdbcType=VARCHAR}, #{modelcode,jdbcType=VARCHAR}, 
      #{plantcode,jdbcType=VARCHAR}, #{builddate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.domain.Vin">
    <!--@mbg.generated-->
    insert into vin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="vincode != null">
        vinCode,
      </if>
      <if test="catalogcode != null">
        catalogCode,
      </if>
      <if test="modelcode != null">
        modelCode,
      </if>
      <if test="plantcode != null">
        plantCode,
      </if>
      <if test="builddate != null">
        buildDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="vincode != null">
        #{vincode,jdbcType=VARCHAR},
      </if>
      <if test="catalogcode != null">
        #{catalogcode,jdbcType=VARCHAR},
      </if>
      <if test="modelcode != null">
        #{modelcode,jdbcType=VARCHAR},
      </if>
      <if test="plantcode != null">
        #{plantcode,jdbcType=VARCHAR},
      </if>
      <if test="builddate != null">
        #{builddate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into vin
    (vinCode, catalogCode, modelCode, plantCode, buildDate)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.vincode,jdbcType=VARCHAR}, #{item.catalogcode,jdbcType=VARCHAR}, #{item.modelcode,jdbcType=VARCHAR}, 
        #{item.plantcode,jdbcType=VARCHAR}, #{item.builddate,jdbcType=VARCHAR})
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2024-03-16-->
  <select id="selectByCatalogcodein">
    select
    <!--<include refid="Base_Column_List"/>-->
    vin
    from vin_data_newest
<!--    where catalogCode in-->
<!--    <foreach item="item" index="index" collection="catalogcodeCollection"-->
<!--             open="(" separator="," close=")">-->
<!--      #{item,jdbcType=VARCHAR}-->
<!--    </foreach>-->
<!--    <where>-->
<!--    <if test = "start != 0">-->
      where id <![CDATA[ >= ]]> #{start, jdbcType=VARCHAR}
<!--    </if>-->
<!--    <if test = "end != 0">-->
      and id <![CDATA[ < ]]> #{end, jdbcType=VARCHAR}
<!--    </if>-->
<!--    </where>-->
  </select>

<!--auto generated by MybatisCodeHelper on 2024-04-23-->
  <select id="selectByVincode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vin
        <where>
            <if test="vincode != null">
                and vinCode=#{vincode,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id = "selectMaxId" resultType="java.lang.Long">
      select max(id)
      from vin_data_newest
    </select>
</mapper>